@import "tailwindcss";

@theme {
  --color-brand-bg: #F8FAFC;
  --color-brand-card: #FFFFFF;
  --color-brand-text: #0F172A;
  --color-brand-primary: #4F46E5;
  --color-brand-success: #10B981;

  --font-sans: var(--font-inter);
}

:root {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
}

body {
  font-family: var(--font-sans), sans-serif;
}
